.Control {
  color: #282c34;
  font-size: x-small;
}

.Line-control {
  line-height: 2px;
}


.separator {
  margin: 20px;
}

.controlButton{
  position: absolute;
    bottom: 30px;
    left: 10px;
}

#pop.initial{
  position: absolute;
  top: 5px;
  left: 300px;
  font-size: 10px;
  padding: 1em;
  margin: 10px;
  

 
}


.popup.search_done{
  position: absolute;
  top: 90px;
  left: 1px;
  font-size: 50px;
 
}


.popup.polygon{
  position: absolute;
  top: 100px;
  left: 40px;
  font-size: 50px;
  
}

.popup.layer{
  position: absolute;
  top: 100px;
  left: 40px;
  font-size: 50px;
  
}




